.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 8px;
    position: relative;
}

.form-container {
    width: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.toggle-view {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.table-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*noinspection CssInvalidPropertyValue*/
    overflow-y: overlay;
    margin-top: 16px;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    align-items: center;
}

.loader-overlay {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 700px) {
    .app {
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }

    .content {
        margin-left: 0;
        margin-top: 8px;
    }
}
